body {
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: white;
    padding: 20px;
    padding-bottom: 120px;
}

.box {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #333;
}

input {
    padding: 12px;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #444;
    background: #222;
    color: white;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.item {
    padding: 15px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
}

.album-art {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    margin-right: 15px;
    object-fit: cover;
    background: #333;
}

.song-details {
    flex-grow: 1;
}

#p-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0b0b0b;
    padding: 15px;
    display: none;
    border-top: 3px solid #e74c3c;
    z-index: 1000;
}

.player-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

#current-art {
    width: 65px;
    height: 65px;
    border-radius: 6px;
    object-fit: cover;
}

audio {
    width: 100%;
    max-width: 500px;
}